<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>jobOffer</title>
    <link rel="stylesheet" href="../styles/main.css">
</head>

<body>
    <form class="form">
        <label for="userId__value">User id value</label>
        <input id="userId__value" type="text" required placeholder="Start typing..."/>
        <button id="getUserByIdButton">Get user by id</button>
        <button id="getAllUserButton">Get all users</button>
    </form>
    <section class="jobOffer__container">

    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript"></script>
    <script src="../scripts/jobOffer.js"></script>
</body>

</html>